# Creation of Evil Test Cases for Viewer Application
The viewer application needs to be resiliant. In other words, it shouldn't crash or display gibberish to the users if the data isn't what it expects.

This notebook creates Sqlite database files for testing the following
situations:
1. The database is completely empty. There are no teams or matches loaded into the database.
2. The match schedule has been loaded into the database, but there are no teams or measures.
3. The teams and matches are loaded, but the competition has not started, so the measures table is empty.
4. Only 1 match has been played.
5. Only a few matches have been played. There should be separate files with 1, 2, 3, 5, 8, 10, and 15 matches.
6. There are 20 matches that have been played, but some measures (e.g., tele_upper_measure1) have been completely removed from the Measures table.

## I. Notebook Setup

In [1]:
import pandas as pd
import sqlite3

In [2]:
# Connection to full set of test data (20 matches)
con20 = sqlite3.connect("../databases/2022testdata-qm20.sqlite3")

## II. Scenario #3: Teams and Matches Loaded, but no Measures

In [3]:
# Create copy of test data
con0 = sqlite3.connect("../databases/2022testdata-qm0.sqlite3")
con20.backup(con0)

In [4]:
# Delete All Measures
con0.execute("DELETE FROM Measures;")
con0.commit()
pd.read_sql("SELECT * FROM Measures;", con0)

Empty DataFrame
Columns: [match, team_number, phase, task, measure1, measure2, measure_type]
Index: []

In [5]:
def set_status(con, match, event):
    """Sets Status table to current match and event.

    Returns modified Status table as Pandas DataFrame.
    """
    sql = """
        UPDATE Status
        SET value = ?
        WHERE key = 'match';
    """
    con.execute(sql, (match,))

    sql = """
        UPDATE Status
        SET value = ?
        WHERE key = 'event';
    """
    con.execute(sql, (event,))

    con.commit()
    return pd.read_sql("SELECT * FROM Status;", con)

set_status(con0, 'qm1', 'testdata-2022-qm0')

     key              value
0  match                qm1
1  event  testdata-2022-qm0

In [6]:
def remove_playoffs(con):
    """ Removes all playoff matches from the matches table.

    Simulates what the matches table will look like prior to matches
    starting and during qualification matches.

    Returns a list of matches that are in the modified matches table.
    """
    sql = """
        DELETE FROM Matches
              WHERE match NOT LIKE 'qm%';
    """
    con.execute(sql)
    con.commit()
    matches = pd.read_sql("SELECT * FROM Matches;", con)
    return matches.match[matches.match.str.startswith("qm")].unique()

remove_playoffs(con0)

array(['qm1', 'qm10', 'qm11', 'qm12', 'qm13', 'qm14', 'qm15', 'qm16',
       'qm17', 'qm18', 'qm19', 'qm2', 'qm20', 'qm21', 'qm22', 'qm23',
       'qm24', 'qm25', 'qm26', 'qm27', 'qm28', 'qm29', 'qm3', 'qm30',
       'qm31', 'qm32', 'qm33', 'qm34', 'qm35', 'qm36', 'qm37', 'qm38',
       'qm39', 'qm4', 'qm40', 'qm41', 'qm42', 'qm43', 'qm44', 'qm45',
       'qm46', 'qm47', 'qm48', 'qm49', 'qm5', 'qm50', 'qm51', 'qm52',
       'qm53', 'qm54', 'qm55', 'qm56', 'qm57', 'qm58', 'qm59', 'qm6',
       'qm60', 'qm61', 'qm62', 'qm63', 'qm64', 'qm65', 'qm66', 'qm67',
       'qm68', 'qm69', 'qm7', 'qm70', 'qm71', 'qm72', 'qm73', 'qm74',
       'qm8', 'qm9'], dtype=object)

In [7]:
con0.close()
con20.close()

## II. Scenario #2: No Teams or Measures

In [8]:
con0 = sqlite3.connect("../databases/2022testdata-qm0.sqlite3")
con_noteams = sqlite3.connect("../databases/2022testdata-qm0-noteams.sqlite3")
con0.backup(con_noteams)

In [9]:
# Delete All Measures
con_noteams.execute("DELETE FROM Teams;")
con_noteams.commit()
pd.read_sql("SELECT * FROM Teams;", con_noteams)

Empty DataFrame
Columns: [team_number, team_name, city, state, country]
Index: []

In [10]:
set_status(con_noteams, 'qm1', '2022-testdata-qm0-noteams')

     key                      value
0  match                        qm1
1  event  2022-testdata-qm0-noteams

In [11]:
con_noteams.close()
con0.close()

## III. Scenario #1: Empty Database

In [12]:
con_noteams = sqlite3.connect("../databases/2022testdata-qm0-noteams.sqlite3")
con_empty = sqlite3.connect("../databases/2022testdata-qm0-empty.sqlite3")
con_noteams.backup(con_empty)

In [13]:
# Delete All Matches
con_empty.execute("DELETE FROM Matches;")
con_empty.commit()
pd.read_sql("SELECT * FROM Matches;", con_empty)

Empty DataFrame
Columns: [match, match_time, alliance, station, team_number]
Index: []

In [14]:
con_noteams.close()
con_empty.close()

## IV. Scenario #4: Only 1 Match Played

In [49]:
con20 = sqlite3.connect("../databases/2022testdata-qm20.sqlite3")
con1 = sqlite3.connect("../databases/2022testdata-qm1.sqlite3")
con20.backup(con1)

In [50]:
remove_playoffs(con1)

array(['qm1', 'qm10', 'qm11', 'qm12', 'qm13', 'qm14', 'qm15', 'qm16',
       'qm17', 'qm18', 'qm19', 'qm2', 'qm20', 'qm21', 'qm22', 'qm23',
       'qm24', 'qm25', 'qm26', 'qm27', 'qm28', 'qm29', 'qm3', 'qm30',
       'qm31', 'qm32', 'qm33', 'qm34', 'qm35', 'qm36', 'qm37', 'qm38',
       'qm39', 'qm4', 'qm40', 'qm41', 'qm42', 'qm43', 'qm44', 'qm45',
       'qm46', 'qm47', 'qm48', 'qm49', 'qm5', 'qm50', 'qm51', 'qm52',
       'qm53', 'qm54', 'qm55', 'qm56', 'qm57', 'qm58', 'qm59', 'qm6',
       'qm60', 'qm61', 'qm62', 'qm63', 'qm64', 'qm65', 'qm66', 'qm67',
       'qm68', 'qm69', 'qm7', 'qm70', 'qm71', 'qm72', 'qm73', 'qm74',
       'qm8', 'qm9'], dtype=object)

In [51]:
# Remove non-qualification measures
sql = "DELETE FROM Measures WHERE match NOT LIKE 'qm%';"
con1.execute(sql)
con1.commit()

In [52]:
def match_key(match):
    try:
        key = int(match[2:])
    except:
        key = 999999
    return key

In [53]:
match_key('qm9')

9

In [54]:
con1.create_function("QMKEY", 1, match_key, deterministic=True)

In [55]:
def filter_measures(con, latest_match):
    """Removes measures for all matches after `latest_match`

    This function assumes that there are only qualification matches in
    the database.

    Args:
        con: A sqlite3 connection object.
        latest_match: A TBA style match string, e.g., "qm5"
    """
    latest_sortkey = match_key(latest_match)
    
    sql = """
        DELETE FROM Measures
         WHERE QMKEY(match) > ?;
    """
    con.execute(sql, (latest_sortkey,))
    con.commit()

In [56]:
filter_measures(con1, "qm1")

In [57]:
measures = pd.read_sql_query("SELECT match FROM Measures;", con1)

In [58]:
measures.match.unique()

array(['qm1'], dtype=object)

In [59]:
con1.close()
con20.close()

## V. Scenario #4: Only 2 Matches played

In [60]:
con20 = sqlite3.connect("../databases/2022testdata-qm20.sqlite3")
con2 = sqlite3.connect("../databases/2022testdata-qm2.sqlite3")
con20.backup(con2)

In [61]:
remove_playoffs(con2)
sql = "DELETE FROM Measures WHERE match NOT LIKE 'qm%';"
con2.execute(sql)
con2.commit()
con2.create_function("QMKEY", 1, match_key, deterministic=True)
filter_measures(con2, "qm2")
measures = pd.read_sql_query("SELECT match FROM Measures;", con2)
measures

    match
0     qm1
1     qm1
2     qm1
3     qm1
4     qm1
..    ...
127   qm2
128   qm2
129   qm2
130   qm2
131   qm2

[132 rows x 1 columns]

## IV. Scenario #4: Only 5 Matches Played

In [62]:
con20 = sqlite3.connect("../databases/2022testdata-qm20.sqlite3")
con5 = sqlite3.connect("../databases/2022testdata-qm5.sqlite3")
con20.backup(con5)

In [63]:
remove_playoffs(con5)
sql = "DELETE FROM Measures WHERE match NOT LIKE 'qm%';"
con5.execute(sql)
con5.commit()
con5.create_function("QMKEY", 1, match_key, deterministic=True)
filter_measures(con5, "qm5")
measures = pd.read_sql_query("SELECT match FROM Measures;", con5)
measures

    match
0     qm1
1     qm1
2     qm1
3     qm1
4     qm1
..    ...
285   qm5
286   qm5
287   qm5
288   qm5
289   qm5

[290 rows x 1 columns]

In [64]:
con5.close()
con20.close()

In [65]:
## VI. Missing Measures
con20 = sqlite3.connect("../databases/2022testdata-qm20.sqlite3")
conmm = sqlite3.connect("../databases/2022testdata-qm20-mm.sqlite3")
con20.backup(conmm)

In [66]:
remove_playoffs(conmm)
sql = "DELETE FROM Measures WHERE match NOT LIKE 'qm%';"
conmm.execute(sql)
conmm.commit()

In [67]:
sql = """
    DELETE FROM Measures
     WHERE task = 'lower' and phase = 'tele';
"""
conmm.execute(sql)
conmm.commit()

sql = """
    SELECT * FROM Measures
     WHERE task = 'lower' and phase = 'tele';
"""
pd.read_sql_query(sql, conmm)

Empty DataFrame
Columns: [match, team_number, phase, task, measure1, measure2, measure_type]
Index: []

In [68]:
sql = """
    DELETE FROM Measures
     WHERE task = 'taxi' and phase = 'auto';
"""
conmm.execute(sql)
conmm.commit()

sql = """
    SELECT * FROM Measures
     WHERE task = 'taxi' and phase = 'auto';
"""
pd.read_sql_query(sql, conmm)

Empty DataFrame
Columns: [match, team_number, phase, task, measure1, measure2, measure_type]
Index: []

In [69]:
sql = """
    DELETE FROM Measures
     WHERE task = 'defense' and phase = 'endgame';
"""
conmm.execute(sql)
conmm.commit()

sql = """
    SELECT * FROM Measures
     WHERE task = 'defense' and phase = 'endgame';
"""
pd.read_sql_query(sql, conmm)

Empty DataFrame
Columns: [match, team_number, phase, task, measure1, measure2, measure_type]
Index: []

In [70]:
conmm.close()
con20.close()