In [1]:
import sqlite3
import os

In [2]:
# def create_db(con):
#     con = sqlite3.connect(con)
#     cur = con.cursor()

#     teams = """
#     CREATE TABLE Teams (
#         team_number int PRIMARY KEY,
#         team_name text,
#         city text,
#         state text,
#         country text
#     );"""
    
#     events = """CREATE TABLE Events (
#         code text UNIQUE PRIMARY KEY,
#         year int,
#         city text,
#         state text,
#         start_date text,
#         end_date text
#     );
#     """
#     cur.execute(events)
#     cur.execute(teams)

In [3]:
# create_db('hi.sqlite3')

In [13]:
def checkcreate(con1):
    con = sqlite3.connect(con1)
    cur = con.cursor()

    teams = """CREATE TABLE teams (
        code text UNIQUE PRIMARY KEY,
        year int,
        city text,
        state text,
        start_date text,
        end_date text
    );"""
    cur.execute(teams)
    
    events = """CREATE TABLE Events (
        code text UNIQUE PRIMARY KEY,
        year int,
        city text,
        state text,
        start_date text,
        end_date text
    );"""
    cur.execute(events)
    
    checktables = """ SELECT name FROM sqlite_schema WHERE type='table';"""
    cur.execute(checktables)
    
    l1 = []
    for table in cur.fetchall():
        l1+=table
    l2 = ['teams','Events']
    
    print(l1,l2)
    def all_exist(tables, schema):
        return all(any(x in y for y in schema) for x in tables)
    successfull = all_exist(l2,l1)

    con.commit()
    cur.close()
    return(successfull)

In [14]:
checkcreate('hi4.sqlite3')

['teams', 'Events'] ['teams', 'Events']

True

In [16]:
os.remove('hi4.sqlite3')

In [24]:
def create_db(con=None):
    
    """Creates a simple database with the main tables.

    Creates or connects to a database to create the main tables that will
    be used.

    Args:
        db_name: The name of the database file to be created or connected to.
    """

    con = sqlite3.connect(con)
    cur = con.cursor()

    teams = """
    CREATE TABLE Teams (
        team_number int PRIMARY KEY,
        team_name text,
        city text,
        state text,
        country text
    );
    """
    cur.execute(teams)

    events = """
    CREATE TABLE Events (
        code text UNIQUE PRIMARY KEY,
        year int,
        city text,
        state text,
        start_date text,
        end_date text
    );
    """
    cur.execute(events)

    measures = """
    CREATE TABLE Measures (
        id int PRIMARY KEY,
        phase text,
        measure_name text,
        measure_time text,
        match_id int REFERENCES matches(id),
        team_number int REFERENCES teams(number),
        result int,
        score int,
        category text
    );
    """
    cur.execute(measures)

    matches = """
    CREATE TABLE Matches (
        match text,
        matchtime text,
        alliance text,
        station int,
        team text,
        PRIMARY KEY (match, alliance, station)
    );
    """
    cur.execute(matches)

    status = """
    CREATE TABLE Status (
        key text UNIQUE PRIMARY KEY,
        value text
    )
    """
    cur.execute(status)

    checktables = """ SELECT name FROM sqlite_schema WHERE type='table';"""
    cur.execute(checktables)
    
    Tableslistschema = []
    for table in cur.fetchall():
        Tableslistschema += table
    tableideal = ['Teams', 'Events', 'Measures', 'matches', 'Status']

    def all_exist(tables, schema):
        return all(any(x.title() in y for y in schema) for x in tables)
    successfull = all_exist(tableideal,Tableslistschema)

    con.commit()
    cur.close()
    return successfull

In [25]:
create_db('hi5.sqlite3')

True

In [23]:
os.remove('hi5.sqlite3')