In [ ]:
import

In [2]:
import pickle
import pandas as pd

In [3]:
with open("2022testdata-qm20.pickle", "rb") as pfile:
    data = pickle.load(pfile)

measures = data['measures'] 
matches = data['matches']

In [4]:
measures

,match,team_number,phase,task,measure1,measure2,measure_type
0,qm1,frc4683,auto,start_pos,center,-1,categorical
1,qm1,frc4131,auto,start_pos,left,-1,categorical
2,qm1,frc4131,auto,taxi,true,-1,boolean
3,qm1,frc4683,auto,taxi,true,-1,boolean
4,qm1,frc4131,auto,start_cargo,true,-1,boolean
...,...,...,...,...,...,...,...
1160,qm20,frc4180,tele,lower,5,4,count
1161,qm20,frc2412,tele,pickup-field,7,-1,count
1162,qm20,frc2412,endgame,hangar_level_start,2,-1,count
1163,qm20,frc2412,endgame,hangar_level_end,3,-1,count
1164,qm20,frc2412,endgame,traverse_hangar,true,-1,boolean

In [5]:
m = measures[measures.team_number == 'frc1318']
m['phase_task'] = m['phase'] + "_" + m['task']
m = m[['match', 'team_number', 'phase_task', 'measure1']]
filter1 = m['phase_task'].isin(['auto_upper', 'auto_lower', 'tele_upper', 'tele_lower', 'endgame_hangar_level_end'])
m = m[filter1]
m

/var/folders/qy/ppfbhy7d7yn8kd0q_nvb_zv40000gn/T/ipykernel_28948/133284879.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m['phase_task'] = m['phase'] + "_" + m['task']

    match team_number                phase_task measure1
49    qm1     frc1318                tele_upper        4
52    qm1     frc1318                tele_lower        7
58    qm1     frc1318  endgame_hangar_level_end        2
471   qm9     frc1318                auto_upper        0
477   qm9     frc1318                tele_upper        4
482   qm9     frc1318                tele_lower        6
495   qm9     frc1318  endgame_hangar_level_end        2
819  qm15     frc1318                auto_upper        0
825  qm15     frc1318                tele_upper        4
828  qm15     frc1318                tele_lower        7

In [52]:
tele_up, tele_low, auto_up, auto_low, hangar = ['tele_up'], ['tele_low'], ['auto_up'], ['auto_low'], ['hangar']
for i in range(0, len(m)):
    if(m.iloc[i]['phase_task'] == 'tele_upper'):
        tele_up.append(m.iloc[i]['measure1'])
    if(m.iloc[i]['phase_task'] == 'tele_lower'):
        tele_low.append(m.iloc[i]['measure1'])
    if(m.iloc[i]['phase_task'] == 'auto_upper'):
        auto_up.append(m.iloc[i]['measure1'])
    if(m.iloc[i]['phase_task'] == 'auto_lower'):
        auto_low.append(m.iloc[i]['measure1'])
    if(m.iloc[i]['phase_task'] == 'endgame_hangar_level_end'):
        hangar.append(m.iloc[i]['measure1'])
# 5 lists with the measure 1 values for each task

In [59]:
big_boi = [['team', 'frc1318'], ['match', list(m.match.unique())], tele_up, tele_low, auto_up, auto_low, hangar]
big_boi

#autofill empty values with 0
#make the match list 1D

[['team', 'frc1318'],
 ['match', ['qm1', 'qm9', 'qm15']],
 ['tele_up', '4', '4', '4'],
 ['tele_low', '7', '6', '7'],
 ['auto_up', '0', '0'],
 ['auto_low'],
 ['hangar', '2', '2']]

['qm1', 'qm9', 'qm15']

In [ ]:
df = pd.DataFrame(fullmatch, columns = ['team', 'color', 'tele_up', 'tele_low', 'auto_up', 'auto_low', 'hangar'])